/*main {
    max-width: 840px;
    margin: center;
}*/

img {
    height: auto;
    width: 150px;
    border:1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;

}


nav {
    background-color: darkblue;
    padding: 10px;

}nav  a{
    color: white;
    display: block;
    padding: 20px;
}
h1{
    color: darkblue;
}
p{
    padding: 10px;
}

/*aside {
    width: 30rem;
    margin: 1rem;
    border: 1px solid blueviolet;
    background-color: black;
    padding: 10px;
    color: green;

}

footer {
    margin-top: 15px;
    border-top: 1px solid black;
    text-align: center;
    background-color: aqua;
}